* {
  margin: 0;
}

body {
  background: #eee;
}

.wrapper {
  background: #1F2937;
  height: 500px;
}

/* Nav Bar and Top Content Styling */
.header {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 250px;
}

.header-logo {
  color: white;
}

.wrapper nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

/* .wrapper nav ul li {
  font-style: none;
} */

.wrapper nav ul li a {
  color: white;
  text-decoration: none;
}

/* Top content styling */
.top-content {
  display: flex;
  border: 2px solid blue;
  height: 300px;
  padding-left: 200px;
  padding-right: 100px;
  margin-top: 100px;
}
.top-content div {
  color: white;
}

.top-content div h1 {
  font-size: 45px;
}

.top-content div p {
  font-size: 15px;
}

.top-content div img {
  border: 2px solid green;
  width: 200px;
  margin-left: 200px;
}

.top-content div button {
  background: #3882F6;
  color: white;
  font-weight: 1000;
  border-radius: 8px;
  margin-top: 10px;
  width: 120px;
  height: 40px;
}

/* More info section styling */

.info h2{
  text-align: center;
}

.display {
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* Random quote section */
.random {
  margin-top: 100px;
  background: lightgray;
  height: 200px;
  text-align: center;  
}

#p p{
  padding-top: 40px;
}

.author p {
  text-align: center;
  padding-left: 270px;
  margin-top: 20px;
}

/* Call back styles */
/* .main {
  border: 2px solid green;
  background: orange;
} */

.sub { 
  display: flex;
  background: #3882F6;
  width: 700px;
  height: 100px;
  margin: 40px;
  justify-content: center;
}

.sub div p {
  margin-top: 20px;
  color: #eee;
}

#button button {
  background: #3882F6;
  border: 1px solid white;
  color: #eee;
  font-weight: 900;
  border-radius: 7px;
  width: 80px;
  height: 30px;
  margin-top: 40px;
  margin-left: 40px;
}

/* Footer */

.footer {
  background: #1F2937;
  height: 80px;
}

.footer div p {
  color: #eee;
  text-align: center;
  border: 2px green solid;
  padding-top: 35px;
}